*{
    padding: 0px;
    margin: 0px;


    
}
h2 {
    color: rgb(0, 238, 52);
}
.name {
    text-align: left;
    font-size: 40px;
    color: rgb(255, 38, 0);

}
.image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 20px auto;

}
.intro {
    text-align: left;
}

